/* ---------- CUSTOM PROPERTIES ----------*/
:root {
    --vw: 1vw;
    --clr-neutral-100: #FFFFFFE6;
    --clr-neutral-200: #FFFFFF;
    --clr-neutral-400: #B8BDC6;
    --clr-neutral-600: #585858;
    --clr-neutral-900: #111827;
    --clr-accent-100: rgba(123, 63, 228, 0.69);
    --clr-accent-200: #E1D2F5;
    --clr-accent-300: #D4BEF7;
    --clr-accent-800: #9362E9;
    --clr-accent-900: #7B3FE4;
    --gap-small: 1em;
    --gap-medium: 2em;
    --gap-large: 3em;
    --gap-Xlarge: 5em;
}
/* ---------- UTILITY CLASSES ----------*/
.margin-left {
    margin-left: var(--gap-Xlarge);
}
.flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}
.flex-column-small {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}
.margin-left-small {
    margin-left: var(--gap-small);
}
.sm-column {
    flex: 1 1 20%;
}
.med-column {
    flex: 1 1 35%;
}
.gap {
    margin-top: var(--gap-small);
}
.border1 {
    outline: 1px solid red;
}
.border2 {
    outline: 1px solid green;
}
.border3 {
    outline: 1px solid blue;
}
/* ---------- RESET ----------*/
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
a,
p,
ul,
li,
input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}
html {
    width: 100vw;
    width: calc(var(--vw, 1vw) * 100);
}
body {
    /* width: 100vw; */
    width: calc(var(--vw, 1vw) * 100);
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-size: clamp(1rem, 0.9538rem + 0.2051vw, 1.2rem);
    font-weight: 400;
    line-height: 1.5;
    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-200);
    overflow-x: hidden;
}
/* ---------- TYPOGRAPHY ----------*/
h1 {
    font-size: clamp(3rem, 2.8269rem + 0.7692vw, 3.75rem);
}
h2 {
    font-size: clamp(2.25rem, 2.0769rem + 0.7692vw, 3rem);
}
h3 {
    font-size: clamp(2rem, 1.9423rem + 0.2564vw, 2.25rem);
}
h4 {
    font-size: 1.5rem;
}
h1,
h2,
h3,
h4,
h5,
.demo-vid a,
.tool-heading,
.section-title,
.footer-title {
    font-weight: 700;
    line-height: 4rem;
}
nav li {
    list-style: none;
}
nav a {
    margin: 0;
    padding: 0;
    font-weight: 600;
    text-decoration: none;
    color: var(--clr-neutral-600);
}
nav a:hover,
nav a:focus {
    color: var(--clr-accent-900);
}
.currency-title {
    margin-bottom: var(--gap-small) !important;
    font-size: clamp(1.25rem, 1.1346rem + 0.5128vw, 1.75rem);
    font-weight: 800;
    line-height: 1;
}
.tools-title h2,
.potential-text h2,
.dev-text h2 {
    line-height: 3.5rem;
}
.tool-heading {
    font-size: clamp(1.5rem, 1.4135rem + 0.3846vw, 1.875rem);
    line-height: 1;
}
.section-title {
    font-size: clamp(1.1rem, 1.0654rem + 0.1538vw, 1.25rem);
}
.demo-vid a {
    color: var(--clr-accent-800);
    text-decoration: none;
}
.section-subtitle {
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--clr-accent-900);
}
.metrics-title {
    letter-spacing: -.1rem;
}
.metrics-title,
.metrics-subtitle {
    line-height: 1.2;
}
.currency-title,
.tools-title,
.tools-info,
.potential h2,
.cta-form h2{
    text-align: center;
}
.btn-nav,
.currency-title,
.subscribe-title,
.cta-form input,
.cta-form :placeholder-shown,
.btn-newsletter {
    font-family: 'Poppins', sans-serif;
}
.watch:hover,
.watch:focus {
    color: var(--clr-accent-900);
    transform: scale(1.2);
}
.subscribe-title {
    font-size: clamp(2.5rem, 2.3413rem + 0.7051vw, 3.1875rem);
}
footer,
.footer-title,
footer a {
    color: var(--clr-neutral-200);
}
.footer-link-item:hover,
.footer-link-item:focus {
    color: var(--clr-neutral-900);
    opacity: .8;
}
/* images */
.logo {
    width: 5em;
}
.deco img {
    margin-left: -5em;
    transform: scaleX(1.7);
}
.hero-screenshots img {
    max-width: 60%;
}
.phone1 {
    margin: var(--gap-medium) 0;
    -webkit-box-shadow: 0px 0px 0px 5px #A0A0A033, inset 0px 10px 27px -8px #14141433, inset 0px -10px 27px -8px #A0A0A033, -1px 1px 30px 3px rgba(184,189,198,0); 
    box-shadow: 0px 0px 0px 5px #A0A0A033, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A0A0A033, -1px 1px 30px 3px rgba(184,189,198,0);
    border-radius: 2em;
}
.crypto-icon {
    width: 5vw;
    height: auto;
}
.crypto-icon .icon4w {
    width: 4em;
}
.metrics-icon {
    width: 7em;
    aspect-ratio: 1;
}
.screen1 {
    margin-bottom: 6em;
}
.screen2 {
    margin-top: 6em;
}
.app-store {
    width: 7em;
}
/* ---------- LAYOUT ----------*/
/* navigation */
header {
    padding: .75em 0;
    width: calc(var(--vw, 1vw) * 90);
    margin: 0 auto;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    gap: var(--gap-large);
    justify-content: flex-end;
    align-items: center;
    width: 70vw;
    width: calc(var(--vw, 1vw) * 70);
}
nav ul {
    display: flex;
    justify-content: flex-end;
    gap: var(--gap-small);
    width: 80vw;
    width: calc(var(--vw, 1vw) * 80);
}
.nav-list {
    flex-wrap: wrap;
}
.mobile-nav {
    display: none;
}
/* general */
.container {
    width: 80vw;
    width: calc(var(--vw, 1vw) * 80);
    margin: 0 auto;
}
.container-wide {
    width: 95vw;
    width: calc(var(--vw, 1vw) * 95);
    margin: 0 auto;
}
.container-medium {
    width: 90vw;
    width: calc(var(--vw, 1vw) * 90);
    margin: 0 auto;
}
section,
.tools-info,
.path,
.subtitle,
footer {
    margin-top: var(--gap-large);
}
/* hero */
.hero {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-large);
    height: 100%;
    width: 100vw;
    width: calc(var(--vw, 1vw) * 100);
    padding-top: var(--gap-medium);
    padding-bottom: 4em;
    background-color: #FCFAFF;
    background: #EBE2F9;
    background: -webkit-radial-gradient(bottom, #EBE2F9, #FCFAFF);
    background: -moz-radial-gradient(bottom, #EBE2F9, #FCFAFF);
    background: radial-gradient(to top, #EBE2F9, #FCFAFF);
}
.hero-text {
    flex: 1 1 38%;
}
.hero-screenshots {
    flex: 1 1 62%;
    display: flex;
    justify-content: flex-end;
    gap: var(--gap-medium);
}
.hero-text h1,
.hero-text p,
.btn-box {
    margin-bottom: var(--gap-small);
}
.btn-box {
    display: flex;
    gap: var(--gap-large);
    width: 100%;
}
.demo-vid {
    display: flex;
    align-items: center;
    flex: 1 1 50%;
    gap: var(--gap-small);
}
/* currencies */
.currencies {
    width: 65vw;
    width: calc(var(--vw, 1vw) * 65);
    margin: 0 auto;
    margin-top: var(--gap-medium);
    margin-bottom: var(--gap-medium);
    text-align: center;
}
.crypto-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3vw !important;
    padding: var(--gap-small) 0;
    border-top: .1rem solid var(--clr-neutral-400);
    border-bottom: .1rem solid var(--clr-neutral-400);
}
.crypto-box .crypto-icon + .crypto-icon {
    gap: 3vw;
}
/* tools */
.tools-title {
    width: 60vw;
    width: calc(var(--vw, 1vw) * 60);
    margin: 0 auto;
}
.tools-info {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-medium);
}
.tools-info div {
    flex: 1 1 30%;
    text-align: center;
}
.tools-info img {
    width: 2em;
    margin: 0 auto;
}
/* potential */
.potential {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--gap-large);
}
.potential-text {
    flex: 1 1 35%;
    width: 35vw;
}
.stats {
    flex:1 1 40%;
    display: grid;   
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width: 30vw;
    width: calc(var(--vw, 1vw) * 30);
}
.btn-potential {
    margin-top: var(--gap-large);
}
.side-by-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-small);
}
.right {
    justify-self: end;
}
/* metrics */
.metrics {
    display: flex;
    /* flex-wrap: wrap; */
    margin-top: var(--gap-small);
}
.metrics-text {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-small);
    padding: var(--gap-small);
    border: .1rem solid var(--clr-neutral-400);
    border-radius: 1.5em;
}
.metrics-block {
    flex: 1 1 75%;
    width: 50%;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-medium);
}
.metrics-block img {
    margin: 0 auto;
}
/* developers */
.developers {
    width: 100vw;
    width: calc(var(--vw, 1vw) * 100);
    background-color: var(--clr-accent-900);
    color: var(--clr-neutral-200);
    overflow-x: hidden;
}
.dev-split {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dev-text{
    flex: 1 1 35%;
}
.dev-screenshots-block {
    flex: 1 1 60%;
    display: flex;
    justify-content: flex-end;
    gap: var(--gap-medium);
}
/* newsletter */
.cta-form {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 3em 5em 5em 3em;
    width: 80vw;
    width: calc(var(--vw, 1vw) * 80);
    margin: 0 auto;
    margin-top: var(--gap-large) !important;
    background-color: #D4BEF799;
    background-image: url("images\\deco.png");
    color: var(--clr-neutral-600);
    border-radius: var(--gap-medium);
}
.cta-form h2,
.cta-form input {
    width: 50vw;
    width: calc(var(--vw, 1vw) * 50);
    margin: 0 auto;
}
.form-deco {
    display: flex;
    justify-content: space-between;
    padding: var(--gap-small);
    border-radius: 2em;
    background-color: var(--clr-neutral-200);
}
.cta-form input {
    border: none;
    background-color: transparent;
}
/* footer */
footer {
    display: flex;
    gap: 3em;
    width: 100vw;
    width: calc(var(--vw, 1vw) * 100);
    color: var(--clr-accent-200);
    background-color: var(--clr-accent-800);
}
.footer-flex {
    display: flex;
    justify-content: space-evenly;
    gap: var(--gap-medium);
    margin: var(--gap-medium) 0;
    margin: 0 auto;
}
.icons {
    margin-top: var(--gap-small);
}
.socials {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-small);
    width: 7vw;
}
.app-box {
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.footer-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
/* ---------- COMPONENTS ----------*/
.deco {
    margin-left: -5em;
}
.path {
    width: 100vw;
    width: calc(var(--vw, 1vw) * 100);
}
.social-icon,
.app-store {
    cursor: pointer;
}
.social-icon:hover,
.social-icon:focus {
    transform: scale(1.1);
}
.app-store:hover,
.app-store:focus {
    transform: scale(1.1);
}
/* buttons */
button {
    padding: .4em 1em;
    border: none;
    border-radius: 2em;
    background-color: transparent;
    font-size: clamp(1rem, 0.8750rem + 0.5556vw, 1.5rem);
    color: var(--clr-neutral-200);
    cursor: pointer;
}
button:hover,
button:focus {
    transform: scale(1.01);
}
.btn-nav,
.btn-metrics,
.btn-newsletter {
    font-family: 'Poppins', sans-serif;
}
.btn-nav {
    border: .1rem solid var(--clr-accent-900);
    font: inherit;
    font-weight: 600;
    color: var(--clr-accent-900);
    transition: 0s .15s all ease-in;
    overflow: hidden;
}
.btn-nav:hover,
.btn-nav:focus {
    background-color: var(--clr-accent-900);
    color: var(--clr-neutral-200);
}
.btn-cta {
    background-color: var(--clr-accent-900);
    font-weight: 700;
}
.btn-cta:hover,
.btn-cta:focus {
    background-color: var(--clr-accent-800);
    color: var(--clr-neutral-200);
}
.btn-potential {
    display: inline-block;
    width: 8em;
    height: 2.5em;
    margin-top: var(--gap-small);
}
.btn-metrics {
    border: .1rem solid var(--clr-neutral-400);
    color: var(--clr-neutral-400);
    width: 10em;
    transition: 0s .15s all cubic-bezier(.14,.77,.86,.47);
}
.btn-metrics:hover,
.btn-metrics:focus {
    font-weight: 700;
    background-color: var(--clr-neutral-400);
    border: .1rem solid var(--clr-accent-800);
    color: var(--clr-accent-800);
}
.btn-dev {
    width: 14em;
    border: .2rem solid var(--clr-neutral-200);
    font-weight: 700;
}
.btn-dev:hover,
.btn-dev:focus {
    background-color: var(--clr-accent-800);
}
.btn-newsletter {
    background-color: var(--clr-accent-300);
}
.btn-newsletter:hover,
.btn-newsletter:focus {
    background-color: var(--clr-accent-900);
}
/* ---------- MEDIA QUERIES ----------*/
/* @media (prefers-color-scheme: dark) {
    body {
        background-color: #8f8a91;
    }
    .nav-link {
        color: var(--clr-accent-200);
    }
    .btn-nav {
        background-color: var(--clr-accent-200);
    }
    .subscribe-title {
        color: var(--clr-accent-900);
    }
} */
/* @media (min-width: 1400px) {
    nav {
        justify-content: space-between;
        gap: var(--gap-medium);
    }
    .nav-list {
        display: flex;
        gap: var(--gap-large);
    }
    .crypto-icon {
        width: 5vw;
        height: 10vh;
        margin: 1em 0;
    }
} */
@media (min-width: 320px) and (max-width: 420px) and (orientation: portrait) {
    .hero {
        width: 100vw;
        width: calc(var(--vw, 1vw) * 100);
    }
    .hero-text {
        flex: 1 1 50%;
    }
    .hero-title {
        font-size: 2.75rem;
    }
    .btn-cta {
        width: 40vw;
        width: calc(var(--vw, 1vw) * 40);
    }
    .tools-title h2 {
        line-height: 2.5rem;
    }
    .tool-heading,
    .tools-info img,
    .section-title,
    .metrics-block {
        margin-bottom: .5em;
    }
    .tools-info {
        flex-direction: column;
    }
    .tools-info div,
    .side-by-side {
        margin-bottom: 1.75em;
    }
    .side-by-side:last-of-type {
        margin-bottom: 0;
    }
    .stats {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .stat-text h3 {
        font-size: 1.75rem;
    }
    .stat-img {
        margin-right: 1em;
    }
    .margin-left {
        margin-left: .25em;
    }
    .metrics {
        display: flex;
        flex-direction: column;
    }
    .metrics-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .metrics-block,
    .metrics-block div,
    .metrics-block .flex-column {
        width: 100%;
    }
    .tools-title {
        width: 95vw;
        width: calc(var(--vw, 1vw) * 95);
        margin: 0 auto;
    }
    .potential {
        flex-direction: column;
        gap: .25em;
    }
    .potential-text,
    .stats {
        flex: 1 1 100%;
        width: 95vw;
        width: calc(var(--vw, 1vw) * 95);
    }
    .btn-potential {
        width: 40vw;
        width: calc(var(--vw, 1vw) * 40);
    }
    .metrics-text {
        justify-content: center;
    }
    .metrics-block {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-small);
    }
    .metrics-block .flex-column {
        flex-wrap: wrap;
        gap: var(--gap-small);
        width: 80vw;
    }
    .dev-split {
        padding: 0;
    }
    .dev-text {
        gap: .25em;
    }
    .dev-screenshots-block {
        flex-direction: column;
        align-items: center;
        gap: var(--gap-medium);
    }
    .cta-form .container{
        width: 100vw;
        width: calc(var(--vw, 1vw) * 100);
        margin: 0 auto;
    }
    .subscribe-title {
        font-size: 2rem;
        line-height: 1.2;
    }
    .form-deco {
        display: flex;
        flex-direction: column;
    }
    .form-deco input {
        width: 100vw;
        width: calc(var(--vw, 1vw) * 100);
    }
    footer,
    .footer-flex {
        flex-direction: column;
    }
    footer {
        gap: 0;
    }
    .footer-flex {
        flex-direction: column;
        flex-wrap: wrap;
        gap: .5em;
    }
    .icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: .25em;
    }
    footer .logo {
        display: block !important;
    }
    .footer-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 320px) and (max-width: 800px) and (orientation: portrait) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
        order: 2;
    }
    .btn-nav {
        order: 1;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s, visibility .35s, height .35s;
        overflow: hidden;
        background: var(--clr-neutral-600);
        z-index: -1;
    }
    #hamburger-menu {
        position: fixed;
        top: 10px;
        right: -20px;
        width: 50px;
        height: 50px;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: .5em;
        background: linear-gradient(
            to bottom,
            var(--clr-neutral-600), var(--clr-neutral-600) 20%,
            white 20%, white 40%,
            var(--clr-neutral-600) 40%, var(--clr-neutral-600) 60%,
            white 60%, white 80%,
            var(--clr-neutral-600) 80%, var(--clr-neutral-600) 100%
        );
    }
    #hamburger-menu #sidebar-menu {
        visibility: visible;
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: 100%;
        padding: 0 1.5em;
        background-color: var(--clr-accent-900);
        transition: .3s;
    }
    .nav-list {
        flex-direction: column;
        align-items: center;
    }
    .nav-link {
        color: var(--clr-neutral-200);
    }
    .nav-link:hover,
    .nav-link:focus {
        color: var(--clr-accent-300);
    }
    #hamburger-input {
        visibility: hidden;
    }
    #hamburger-input:checked + #hamburger-menu #sidebar-menu {
        visibility: visible;
        left: 0;
    }
    #hamburger-input:checked ~ .overlay {
        visibility: visible;
        opacity: .4;
    }
    #sidebar-menu {
        transition: .3s;
    }
    #hamburger-input:not(:checked) + #hamburger-menu #sidebar-menu {
        visibility: hidden;
        left: 0;
    }
    #hamburger-input:not(:checked) ~ .overlay {
        visibility: hidden;
        opacity: .4;
    }
    .hero {
        flex-direction: column;
    }
}












/* @media (min-width: 1400px) {
    nav {
        justify-content: space-between;
        gap: var(--gap-large);
    }
    .nav-list {
        display: flex;
        gap: var(--gap-large);
    }
    .crypto-box {
        height: 10vh;
    }
    .crypto-icon {
        width: 5vw;
        height: 10vh;
        margin: 1em 0;
    }
} */